:root {
  --dark-blue: #051D3B;
  --blue-100: #96b9fd;
  --blue-200: #7ba4fc;
  --blue-300: #5081fb;
  --rgba: rgba(255, 255, 255, 0.2)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Fira Code';
  background-color: var(--dark-blue);
  color: #ffffff;
  margin: 2rem;
}

header, main {
  display: grid;
  grid-template-columns: 1.7fr 4fr 2fr;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.logo {
  width: 14rem;
}

input, textarea, button, option, select {
  width: 80%;
  border-radius: 0.4rem;
  border: none;
  padding: 1rem;
  background-color: var(--rgba);
  color: #ffffff;
  font-size: 1.1rem;
  font-family: 'Fira Code';
}

.user {
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 0.8rem;
}

.photo {
  width: 3rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}

main {
  align-items: flex-start;
}

nav {
  margin-top: 0.5rem;
}

h4 {
  font-weight: 300;
  letter-spacing: 0.4rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

a {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: var(--rgba);
}

a:hover {
  color: #ffffff;
}

.active {
  color: #ffffff;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.data input[type = "text"], textarea {
  width: 100%;
}

select {
  width: 100%;
  cursor: pointer;
}

option {
  color: black;
  border: none;
}

#color {
  width: 100%;
  height: 4rem;
  cursor: pointer;
  padding: 0.4rem;
  border: 0.05rem solid #ffffff;
  background-color: initial;
}

button {
  width: 100%;
  background-color: var(--blue-300);
  color: var(--dark-blue);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: var(--blue-200);
}

